$br-blue: #0076c2;

$black: #262626;
$white: #fff;
$grey: #bbb;
$lightgrey: #ddd;
$slategrey: #3b3b3b;

$lightblue: #82cafa;
$green: #6fb76e;

$facebook: #3b5998;
$twitter: #00aced;
$gplus: #d34836;

$cdu: #121212;
$csu: #00b2ff;
$fdp: #fd0;
$gruene: #309128;
$parteilos: #fff;
