.draggable {
    -ms-touch-action: none;
    touch-action: none;
}

.changeable {
    -ms-touch-action: none;
    touch-action: none;
}

.dragging {
	list-style: none;
	position: absolute;
	z-index: 300;
}

.changing {
	z-index: 200;
}
