#field {
  width: calc(100% - 220px);
  height: 100%;
  background: #ddd;
  background-image: radial-gradient(ellipse at center, #fff 0%, #ccc 100%);
  display: inline-block;
  padding: 1em 1em 0;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow: hidden;

  nav {
    z-index: 30;
  }

  form {
    display: inline-block;
    padding-bottom: 2em;
  }

  label {
    background: $white;
    display: inline-block;
    line-height: 30px;
    padding: 0 .7em 0 .5em;
    vertical-align: top;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $white url('../img/arrow.png') no-repeat right 3px center;
    background-size: 20px 13px;
    border: 2px solid $white;
    cursor: pointer;
    padding: 4px 46px 4px 8px;
    text-indent: .01px;
    text-overflow: '';

    &:focus {
      border: 2px solid $br-blue;
    }

    &::-ms-expand {
      display: none;
    }
  }
}

#lineup {
  height: 90%;

  .position {
    position: relative;
    display: inline-block;
    min-width: 145px;
    height: 120px;
    cursor: pointer;
    vertical-align: top;
    margin: 1em;
    user-select: none;
    -webkit-touch-callout: none;

    p {
      height: 18px;
      margin: 0;
    }

    .department {
      z-index: 10;
    }

    .politician {
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .icon {
      width: 4em;
      height: 4em;
      margin: 10px 0;
      border-radius: 50%;
      pointer-events: none;

      &.cdu {
        box-shadow: 0 0 0 5px #121212;
      }

      &.csu {
        box-shadow: 0 0 0 5px #00b2ff;
      }

      &.fdp {
        box-shadow: 0 0 0 5px #ffdd00;
      }

      &.gruene {
        box-shadow: 0 0 0 5px #309128;
      }

      &.parteilos {
        box-shadow: 0 0 0 5px #ffffff;
      }

    }

    .selected {
      box-shadow: 0 0 0 3px #ddd, 0 0 0 5px #2b2b2b;
    }

    &.drop-target .department .icon {
      box-shadow: 0 0 0 3px #ddd, 0 0 0 5px #2b2b2b;
    }
  }
}
