/* General mediaqueries */
@media (min-width: 1100px) {

  #lineup .player .icon {
    width: 5em;
    height: 5em;
  }
}

@media (max-width: 780px) {

  button span,
  .button span {
    display: none;
  }

  button:before,
  .button:before {
    opacity: 1;
  }

  .thanks {
    display: none;
  }

  #main {
    height: calc(100% - 22em);
  }

  #header {
    height: 16em;
  }
}

@media (max-height: 640px) and (min-height: 560px) {

  #lineup .player .icon {
    width: 3em;
    height: 3em;
  }
}

@media (max-height: 560px) and (min-width: 560px) {

  body {
    overflow: auto;
  }

  #main {
    height: 100%;
  }
}

@media (max-width: 560px) {

  button,
  .button {
    display: none;
  }

  #field {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  #main {
    height: calc(100% - 14em);
    margin: 0;
    padding: 0;
    float: left;
  }

  #header {
    height: 14em;
    margin: 0;
  }

  .disclaimer {
    display: none;
  }

  #lineup .player .icon {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 420px) {

  #main {
    height: calc(100% - 9em);
  }

  #header {
    height: 9em;
    margin: 0;
  }

  #header p {
    display: none;
  }

  #lineup .player .icon {
    background: $br-blue !important;
    width: 2em;
    height: 2em;
  }
}
