button,
.button {
  color: $black;
  background: $white;
  cursor: pointer;
  font-weight: bold;
  padding: .5em;
  line-height: 1;
}

button:hover,
.button:hover {
  color: $white;
  background: $br-blue;
}

#home {
  float: left;
}

#share {
  float: right;
}

.small {
  font-size: 17px;
  opacity: .7;
  vertical-align: top;
  margin: 0 .1em;
}

#modal {
  background: $white;
  display: none;
  left: 10%;
  overflow: auto;
  padding: 1em 4em 4em;
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: 500;

  p {
    margin: .2em 0 1em;
  }

  h1 {
    margin: 2em 0 .5em;
  }
}

#close {
  position: absolute;
  top: .5em;
  right: 1em;
  color: $black;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  display: block;
  margin: 2em 0;

  a {
    color: $black;
    text-decoration: none;
    margin: 0 1em;
    display: inline-block;
    width: 50px;
  }

  .big {
    font-size: 50px;

    &:hover {
      opacity: .7;
    }
  }
}
