$black: #333;
$white: #fff;

$green: #8fbc8f;
$red: #cd5c5c;
$yellow: #daa520;

$grey: #bbb;
$lightgrey: #f4f4f4;
$slategrey: #789;

$facebook: #3b5998;
$twitter: #00aced;
$gplus: #d34836;

@import 'partials/font';
@import 'partials/icons';
@import 'partials/lineup';
@import 'partials/list';
@import 'partials/sharing';
@import 'partials/dragging';
@import 'partials/fallback';
@import 'partials/mediaqueries';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: $white;
  color: $black;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: .9em;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

input,
select,
button,
.button {
  background-color: $white;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  outline: none;
  text-decoration: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

