$br-blue: #0076c2;

$black: #262626;
$white: #fff;
$grey: #c6c5c0;
$lightgrey: #dbd9d3;
$slategrey: #2b2b2b;

$lightblue: #82cafa;
$green: #8fbc8f;

$facebook: #3b5998;
$twitter: #00aced;
$gplus: #d34836;

@import 'partials/font';
@import 'partials/icons';
@import 'partials/main';
@import 'partials/header';
@import 'partials/lineup';
@import 'partials/list';
@import 'partials/sharing';
@import 'partials/dragging';
@import 'partials/fallback';
@import 'partials/mediaqueries';
