@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular.eot?v=1.1.0");
  src: url("../font/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../font/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../font/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../font/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../font/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Bold.eot?v=1.1.0");
  src: url("../font/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../font/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../font/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../font/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../font/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url("../font/icons.eot?71462735");
  src: url("../font/icons.eot?71462735#iefix") format("embedded-opentype"), url("../font/icons.woff?71462735") format("woff"), url("../font/icons.ttf?71462735") format("truetype"), url("../font/icons.svg?71462735#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-squared:before {
  content: '\e802';
  color: #3b5998;
}

.icon-twitter-squared:before {
  content: '\e800';
  color: #00aced;
}

.icon-gplus-squared:before {
  content: '\e804';
  color: #d34836;
}

.icon-mail-squared:before {
  content: '\e809';
}

.icon-reply:before {
  content: '\e801';
}

.icon-paper-plane:before {
  content: '\e803';
}

.icon-info:before {
  content: '\e805';
}

.icon-share:before {
  content: '\e807';
}

nav {
  height: 10%;
}

#field {
  background: #8fbc8f;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 1em;
  position: relative;
  text-align: center;
  width: 75%;
  z-index: 0;
}
#field form {
  display: inline-block;
  padding-bottom: 2em;
}
#field label {
  background: #fff;
  display: inline-block;
  line-height: 30px;
  padding: 0 .7em 0 .5em;
  vertical-align: top;
}
#field select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url(../img/arrow.png) no-repeat right 3px center;
  background-size: 20px 13px;
  border: 0;
  cursor: pointer;
  padding: 4px 46px 4px 8px;
  text-indent: .01px;
  text-overflow: '';
}

#lineup {
  background-image: url("../img/goal.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  height: 90%;
  margin: 2em 1em;
}
#lineup.rows-4 .row {
  height: 24%;
}
#lineup.rows-5 .row {
  height: 19%;
}
#lineup .row {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#lineup .player {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
#lineup .player.active .icon {
  box-shadow: 0 0 0 3px #cd5c5c;
}
#lineup .player .icon {
  background-color: #cd5c5c;
  border-radius: 50%;
  height: 4em;
  margin: 0 auto;
  pointer-events: none;
  width: 4em;
}
#lineup .player .text {
  line-height: 1.2em;
  pointer-events: none;
  text-shadow: 1px 1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, -1px -1px 1px #333;
}

#sidebar {
  background: #fff;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 25%;
  z-index: 10;
}
#sidebar .content {
  height: 100%;
  overflow: auto;
}
#sidebar form {
  background: #fff;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}
#sidebar input {
  border-radius: 0;
  outline: none;
  padding: 4px 8px;
  width: 100%;
}

#filter {
  border: 2px solid #8fbc8f;
}

#list {
  padding-top: 4em;
}
#list ul {
  margin: 0;
  padding: 1em 2em;
  list-style-type: none;
}
#list ul:nth-child(odd) {
  background-color: #f4f4f4;
}
#list ul:last-child:after {
  content: "\a";
  white-space: pre;
  line-height: 12em;
}
#list li {
  line-height: 1.8em;
  cursor: pointer;
}
#list li.picked {
  color: #8fbc8f;
}
#list li:hover {
  color: #999;
}
#list .sturm:before {
  content: "Sturm";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .mittelfeld:before {
  content: "Mittelfeld";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .abwehr:before {
  content: "Abwehr";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .tor:before {
  content: "Tor";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}

#info {
  background-color: #778899;
  bottom: 0;
  color: #fff;
  height: 130px;
  left: 0;
  padding: 1em 1em 1em 2em;
  position: absolute;
  right: 0;
  width: 100%;
}
#info h3 {
  font-size: 1em;
  margin: 0 0 .5em;
}
#info p {
  margin: .2em 0 .5em;
}
#info img {
  float: right;
  margin-left: 1em;
  width: 50px;
}

.gradient {
  pointer-events: none;
  height: 40px;
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.01) 1%, white 75%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.01) 1%, white 75%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

button,
.button {
  color: #333;
  cursor: pointer;
  font-weight: bold;
  padding: .1em .7em .1em .5em;
  line-height: 30px;
}

button:hover,
.button:hover {
  background: #778899;
  color: #fff;
}

#home {
  float: left;
}

#share {
  float: right;
}

.small {
  font-size: 17px;
  opacity: .7;
  vertical-align: top;
  margin: 0 .1em;
}

#modal {
  background: #fff;
  bottom: 15%;
  display: none;
  left: 10%;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: 100;
}
#modal p {
  margin: .2em 0 1em;
}
#modal h1 {
  margin: 2em 0 .5em;
}

#close {
  position: absolute;
  top: .5em;
  right: 1em;
  color: #333;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  display: block;
  margin: 2em 0;
}
.icons a {
  color: #333;
  text-decoration: none;
  margin: 0 1em;
  display: inline-block;
  width: 50px;
}
.icons .big {
  font-size: 50px;
}
.icons .big:hover {
  opacity: .7;
}

@media (max-width: 780px) {
  button span,
  .button span {
    display: none;
  }

  button:before,
  .button:before {
    opacity: 1;
  }
}
@media (max-width: 540px) {
  button,
  .button {
    display: none;
  }

  #field {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  #lineup {
    margin: 0;
  }
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: #fff;
  color: #333;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: .9em;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

input,
select,
button,
.button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  outline: none;
  text-decoration: none;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*# sourceMappingURL=main.css.map */