html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#field {
	background: DarkSeaGreen;
	padding: 1em;
	display: inline-block;
	float: left;
	width: 70%;
	text-align: center;
	height: 100%;
}

#sidebar {
	padding: 1em;
	display: inline-block;
	height: 100%;
	width: 30%;
	border-left: 1px solid #ccc;
}

#sidebar ul {
	padding: 0;
	margin: 1em 0;
	list-style-type: none; 
}

#sidebar li {
	cursor: pointer;
}

#player-filter {
	width: 100%;
}

#players {
	overflow: auto;
}

#lineup {
	color: #fff;
	height: 100%;
	padding: 2em;
}

#lineup .player {
	cursor: pointer;
	display: inline-block;
	width: 25%;
}

#lineup .player .icon {
	width: 3em;
	height: 3em;
	margin: 0 auto 1em;
	border-radius: 50%;
	background-color: #fff;
}

#lineup .row {
	height: 20%;
}

#lineup .active {
	background-color: #ccc;
}
