html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#field {
	padding: 1em;
	display: inline-block;
	float: left;
	width: 70%;
}

#sidebar {
	padding: 1em;
	display: inline-block;
	height: 100%;
	width: 30%;
	border-left: 1px solid #ccc;
}

#sidebar ul {
	padding: 0;
	margin: 1em 0;
	list-style-type: none; 
}

#sidebar li {
	cursor: pointer;
}

#search-player {
	width: 100%;
}

#players {
	overflow: auto;
}

.player {
	cursor: pointer;
	display: inline;
	margin: 0 .5em;
}

.row {
	margin: 1em 0;
}

.active {
	background-color: #ccc;
}

