$br-blue: #ee7600;

$black: #000;
$white: #fff;
$grey: #bbb;
$lightgrey: #ddd;
$slategrey: #2b2b2b;

$lightblue: #82cafa;
$green: #6fb76e;

$facebook: #3b5998;
$twitter: #00aced;
$gplus: #d34836;

$cdu: #747485;
$csu: #0099ed;
$fdp: #fd0;
$gruene: #309128;
$parteilos: #fff;
