/* General mediaqueries */
@media (max-height: 640px) {

  #lineup .position .icon {
    width: 4em;
    height: 4em;
  }
}

@media (max-width: 560px) {

  #share {
    float: none;
    margin: 0 15px 30px;
  }

  #credits {
    float: none;
    margin: 0 15px 15px;
  }

  #field {
    padding: 15px 0;
  }

  #lineup .position {
    margin: 0 5px;
  }

  #lineup .position .icon {
    width: 3em;
    height: 3em;
  }
}
