#field {
  width: calc(100% - 210px);
  height: 100%;
  background: $lightgrey;
  background-image: radial-gradient(ellipse at center, #fff 0%, #ccc 100%);
  display: inline-block;
  padding: 1em 1em 0;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

#lineup {

  .position {
    position: relative;
    display: inline-block;
    min-width: 145px;
    height: 120px;
    cursor: pointer;
    vertical-align: top;
    margin: 10px;
    user-select: none;
    -webkit-touch-callout: none;

    p {
      height: 18px;
      margin: 0;
    }

    .department {
      z-index: 10;
    }

    .politician {
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .icon {
      width: 4em;
      height: 4em;
      margin: 8px 0 4px;
      border-radius: 50%;
      pointer-events: none;

      &.cdu {
        box-shadow: 0 0 0 5px $cdu;
      }

      &.csu {
        box-shadow: 0 0 0 5px $csu;
      }

      &.fdp {
        box-shadow: 0 0 0 5px $fdp;
      }

      &.gruene {
        box-shadow: 0 0 0 5px $gruene;
      }

      &.parteilos {
        box-shadow: 0 0 0 5px $parteilos;
      }
    }

    .selected {
      box-shadow: 0 0 0 3px $lightgrey, 0 0 0 5px $slategrey;
    }

    &.drop-target .department .icon {
      box-shadow: 0 0 0 3px $lightgrey, 0 0 0 5px $slategrey;
    }
  }
}
