#field {
  width: calc(100% - 210px);
  height: 100%;
  background: $lightgrey;
  background-image: radial-gradient(ellipse at center, #fff 0%, #ccc 100%);
  display: inline-block;
  padding: 15px 15px 0;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow-y: auto;
}

#lineup {
  user-select: none;
  -webkit-touch-callout: none;

  .position {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    vertical-align: top;
    margin: 5px;

    p {
      height: 16px;
      margin: 0;
      line-height: 1.2;
    }

    .department {
      z-index: 10;
      cursor: pointer;
    }

    .politician {
      position: absolute;
      top: 16px;
      left: 0;
      right: 0;
      z-index: 100;
      cursor: pointer;

      &.changing {
        z-index: 500;
        cursor: pointer;
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }

    .icon {
      width: 4em;
      height: 4em;
      margin: 8px 0;
      border-radius: 50%;
      pointer-events: none;

      &.cdu {
        box-shadow: 0 0 0 4px $cdu;
      }

      &.csu {
        box-shadow: 0 0 0 4px $csu;
      }

      &.spd {
        box-shadow: 0 0 0 4px $spd;
      }

      &.fdp {
        box-shadow: 0 0 0 4px $fdp;
      }

      &.gruene {
        box-shadow: 0 0 0 4px $gruene;
      }

      &.parteilos {
        box-shadow: 0 0 0 4px $parteilos;
      }
    }

    .selected {
      box-shadow: 0 0 0 4px $lightgrey, 0 0 0 6px $slategrey;
    }

    &.drop-target .department .icon {
      box-shadow: 0 0 0 6px $br-blue;
    }
  }
}

#hint {
  display: none;
  background-image: url('../images/arrow.png');
  background-color: rgba(0,0,0,.3);
  background-position: top right;
  background-repeat: no-repeat;
  color: $white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  cursor: pointer;

  p {
    font-size: 20px;
    margin: 250px auto 0;
    max-width: 90%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }
}

#source {
  display: none;
  text-align: left;
}
