#field {
  width: calc(100% - 210px);
  height: 100%;
  background: $lightgrey;
  background-image: radial-gradient(ellipse at center, #fff 0%, #ccc 100%);
  display: inline-block;
  padding: 15px 15px 0;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow-y: auto;
}

#lineup {
  user-select: none;
  -webkit-touch-callout: none;

  .position {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    vertical-align: top;
    margin: 5px;

    p {
      height: 18px;
      margin: 0;
    }

    .department {
      z-index: 10;
      cursor: pointer;
    }

    .politician {
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      z-index: 100;
      cursor: pointer;

      &.changing {
        z-index: 500;
        cursor: pointer;
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }

    .icon {
      width: 4em;
      height: 4em;
      margin: 10px 0 5px;
      border-radius: 50%;
      pointer-events: none;

      &.cdu {
        box-shadow: 0 0 0 4px $cdu;
      }

      &.csu {
        box-shadow: 0 0 0 4px $csu;
      }

      &.fdp {
        box-shadow: 0 0 0 4px $fdp;
      }

      &.gruene {
        box-shadow: 0 0 0 4px $gruene;
      }

      &.parteilos {
        box-shadow: 0 0 0 4px $parteilos;
      }
    }

    .selected {
      box-shadow: 0 0 0 4px $lightgrey, 0 0 0 6px $slategrey;
    }

    &.drop-target .department .icon {
      box-shadow: 0 0 0 6px $br-blue;
    }
  }
}

#source {
  display: none;
  text-align: left;
}
