#sidebar {
  background: $white;
  width: 210px;
  height: 100%;
  border-left: 1px solid $black;
  display: inline-block;
  float: right;
  position: relative;
  z-index: 40;

  li.dragging {
    width: 160px;
  }

  .scrollable {
    height: 100%;
    overflow: auto;
  }

  #filter {
    border: 1px solid $black;

    &:focus {
      border: 1px solid $br-blue;
    }
  }

  form {
    background: $white;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 70;
  }

  input {
    border-radius: 0;
    outline: none;
    padding: 4px 8px;
    width: 100%;
  }
}

#list {
  padding-top: 4em;
  z-index: 50;

  ul {
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
    user-select: none;

    &:last-child:after {
      content:"\a";
      white-space: pre;
      line-height: 12em;
    }
  }

  li {
    cursor: pointer;
    margin: 5px 0;

    &.picked {
      color: $grey;
      pointer-events: none;
    }

    &:hover {
      color: $br-blue;
    }
  }

  .cdu:before {
    content: "CDU";
    padding-left: 5px;
    border-left: 3px solid $cdu;
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .csu:before {
    content: "CSU";
    padding-left: 5px;
    border-left: 3px solid $csu;
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .fdp:before {
    content: "FDP";
    padding-left: 5px;
    border-left: 3px solid $fdp;
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .gruene:before {
    content: "Grüne";
    padding-left: 5px;
    border-left: 3px solid $gruene;
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .parteilos:before {
    content: "Parteilos";
    padding-left: 5px;
    border-left: 3px solid $lightgrey;
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }
}

#info {
  background: $slategrey;
  color: $white;
  bottom: 0;
  height: 140px;
  left: 0;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 60;
  overflow: hidden;
  border-top: 5px solid $br-blue;

  h3 {
    font-size: 1em;
    margin: 0 0 .75em;
  }

  p {
    margin: .2em 0 .5em;
  }

  img {
    float: right;
    margin: 2px 0 0 10px;
  }

  &.cdu {
    border-color: $cdu;

    img {
      height: 18px;
    }
  }

  &.csu {
    border-color: $csu;

    img {
      height: 18px;
    }
  }

  &.fdp {
    border-color: $fdp;

    img {
      width: 60px;
    }
  }

  &.gruene {
    border-color: $gruene;

    img {
      width: 50px;
    }
  }

  &.parteilos {
    border-color: $parteilos;
  }
}
