#main {
  height: calc(100% - 19em);
  margin: 1em 2em 2em;

  /* IE hack */
  float: left;
  width: 100%;
  padding-right: 4em;
}

#header {
  background: $white;
  margin: 2em 2em 1em;
  padding: 1em;
  height: 13em;
  -webkit-font-smoothing: antialiased;

  h1 {
    font-size: 1.8em;
    margin: 0 0 .5em;
    font-weight: normal
  }

  em {
    display: block;
    color: $br-blue;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1em;
    max-width: 90%;
  }

  a {
    text-decoration: none;
    outline: none;
    border: 0
  }

  .logo {
    border: 0;
    outline: none;
    float: right;
    height: 40px;
  }
}

.embed {

  body {
    background: $white;
  }

  #header {
    display: none;
  }

  #main {
    height: 100%;
    margin: 0;
    float: none;
    width: 100%;
    padding: 0;
  }

  .hideable {
    visibility: hidden;
  }
}
