nav {
  height: 10%;
  z-index: 30;
}

#field {
  background: $green;
  display: inline-block;
  height: 100%;
  padding: 1em 1em 0;
  text-align: center;
  width: 75%;
  z-index: 10;
  position: relative;
  overflow: hidden;

  form {
    display: inline-block;
    padding-bottom: 2em;
  }

  label {
    background: $white;
    display: inline-block;
    line-height: 30px;
    padding: 0 .7em 0 .5em;
    vertical-align: top;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $white url('../img/arrow.png') no-repeat right 3px center;
    background-size: 20px 13px;
    border: 2px solid $white;
    cursor: pointer;
    padding: 4px 46px 4px 8px;
    text-indent: .01px;
    text-overflow: '';

    &:focus {
      border: 2px solid $br-blue;
    }

    &::-ms-expand {
      display: none;
    }
  }
}

#lineup {
  background-image: url('../img/goal.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: $white;
  height: 90%;
  margin-top: 1em;

  &.rows-4 .row {
    height: 24%;
  }

  &.rows-5 .row {
    height: 19%;
  }
  .row {
    user-select: none;
    z-index: 20;
  }

  .player {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 25%;

    &.active .icon {
      box-shadow: 0 0 0 5px $br-blue;
    }

    &.drop-target .icon {
     box-shadow: 0 0 0 5px $lightblue;
    }

    .icon {
      background-color: $br-blue;
      border-radius: 50%;
      height: 4em;
      margin: 0 auto;
      pointer-events: none;
      width: 4em;
    }

    .text {
      line-height: 1.2em;
      pointer-events: none;
      text-shadow: 1px 1px 1px $black, 1px -1px 1px $black, -1px 1px 1px $black, -1px -1px 1px $black;
    }

    &.shake {
      animation-name: shake;
      animation-duration: 200ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-play-state: running;
    }
  }
}

@keyframes shake { 0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(-4px, 0px) rotate(0deg); }
  4% { transform: translate(2px, 0px) rotate(0deg); }
  6% { transform: translate(-3px, 0px) rotate(0deg); }
  8% { transform: translate(9px, 0px) rotate(0deg); }
  10% { transform: translate(2px, 0px) rotate(0deg); }
  12% { transform: translate(-6px, 0px) rotate(0deg); }
  14% { transform: translate(-7px, 0px) rotate(0deg); }
  16% { transform: translate(2px, 0px) rotate(0deg); }
  18% { transform: translate(7px, 0px) rotate(0deg); }
  20% { transform: translate(-1px, 0px) rotate(0deg); }
  22% { transform: translate(-10px, 0px) rotate(0deg); }
  24% { transform: translate(-10px, 0px) rotate(0deg); }
  26% { transform: translate(3px, 0px) rotate(0deg); }
  28% { transform: translate(-5px, 0px) rotate(0deg); }
  30% { transform: translate(4px, 0px) rotate(0deg); }
  32% { transform: translate(-6px, 0px) rotate(0deg); }
  34% { transform: translate(-2px, 0px) rotate(0deg); }
  36% { transform: translate(-6px, 0px) rotate(0deg); }
  38% { transform: translate(-2px, 0px) rotate(0deg); }
  40% { transform: translate(4px, 0px) rotate(0deg); }
  42% { transform: translate(8px, 0px) rotate(0deg); }
  44% { transform: translate(-3px, 0px) rotate(0deg); }
  46% { transform: translate(-10px, 0px) rotate(0deg); }
  48% { transform: translate(4px, 0px) rotate(0deg); }
  50% { transform: translate(-6px, 0px) rotate(0deg); }
  52% { transform: translate(6px, 0px) rotate(0deg); }
  54% { transform: translate(-8px, 0px) rotate(0deg); }
  56% { transform: translate(5px, 0px) rotate(0deg); }
  58% { transform: translate(9px, 0px) rotate(0deg); }
  60% { transform: translate(7px, 0px) rotate(0deg); }
  62% { transform: translate(1px, 0px) rotate(0deg); }
  64% { transform: translate(2px, 0px) rotate(0deg); }
  66% { transform: translate(-2px, 0px) rotate(0deg); }
  68% { transform: translate(-7px, 0px) rotate(0deg); }
  70% { transform: translate(-1px, 0px) rotate(0deg); }
  72% { transform: translate(-6px, 0px) rotate(0deg); }
  74% { transform: translate(5px, 0px) rotate(0deg); }
  76% { transform: translate(0px, 0px) rotate(0deg); }
  78% { transform: translate(9px, 0px) rotate(0deg); }
  80% { transform: translate(-3px, 0px) rotate(0deg); }
  82% { transform: translate(8px, 0px) rotate(0deg); }
  84% { transform: translate(-2px, 0px) rotate(0deg); }
  86% { transform: translate(-1px, 0px) rotate(0deg); }
  88% { transform: translate(-3px, 0px) rotate(0deg); }
  90% { transform: translate(4px, 0px) rotate(0deg); }
  92% { transform: translate(0px, 0px) rotate(0deg); }
  94% { transform: translate(4px, 0px) rotate(0deg); }
  96% { transform: translate(2px, 0px) rotate(0deg); }
  98% { transform: translate(-2px, 0px) rotate(0deg); }
}
