nav {
  height: 10%;
}

#field {
  background: #8fbc8f;
  display: inline-block;
  height: 100%;
  padding: 1em;
  text-align: center;
  transform: translate(0, 0);
  width: 75%;

  form {
    display: inline-block;
    padding-bottom: 2em;
  }

  label {
    background: #fff;
    display: inline-block;
    line-height: 30px;
    padding: 0 .7em 0 .5em;
    vertical-align: top;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url(../img/arrow.png) no-repeat right 3px center;
    background-size: 20px 13px;
    border: 0;
    cursor: pointer;
    padding: 4px 46px 4px 8px;
    text-indent: .01px;
    text-overflow: '';
  }
}

#lineup {
  background-image: url('../img/goal.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  height: 90%;
  margin: 2em 1em;

  &.rows-4 .row {
    height: 24%;
  }

  &.rows-5 .row {
    height: 19%;
  }
  .row {
    user-select: none;
  }

  .player {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 25%;

    &.active .icon {
      box-shadow: 0 0 0 3px #cd5c5c;
    }

    &.drop-target .icon {
     box-shadow: 0 0 0 3px #daa520;
    }

    .icon {
      background-color: #cd5c5c;
      border-radius: 50%;
      height: 4em;
      margin: 0 auto;
      pointer-events: none;
      width: 4em;
    }

    .text {
      line-height: 1.2em;
      pointer-events: none;
      text-shadow: 1px 1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, -1px -1px 1px #333;
    }
  }
}
