#sidebar {
  background: #fff;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 25%;
  z-index: 10;

  .content {
    height: 100%;
    overflow: auto;
  }

  form {
    background: #fff;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }

  input {
    border-radius: 0;
    outline: none;
    padding: 4px 8px;
    width: 100%;
  }
}

#filter {
  border: 2px solid #8fbc8f;
}

#list {
  padding-top: 4em;

  ul {
    margin: 0;
    padding: 1em 2em;
    list-style-type: none;

    &:nth-child(odd) {
      background-color: #f4f4f4;
    }

    &:last-child:after {
      content:"\a";
      white-space: pre;
      line-height: 12em;
    }
  }

  li {
    line-height: 1.8em;
    cursor: pointer;

    &.picked {
      color: #8fbc8f;
    }

    &:hover {
      color: #999;
    }
  }

  .sturm:before {
    content: "Sturm";
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .mittelfeld:before {
    content: "Mittelfeld";
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .abwehr:before {
    content: "Abwehr";
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }

  .tor:before {
    content: "Tor";
    font-weight: bold;
    line-height: 2.2em;
    vertical-align: top;
  }
}

#info {
  background-color: #778899;
  bottom: 0;
  color: #fff;
  height: 130px;
  left: 0;
  padding: 1em 1em 1em 2em;
  position: absolute;
  right: 0;
  width: 100%;

  h3 {
    font-size: 1em;
    margin: 0 0 .5em;
  }

  p {
    margin: .2em 0 .5em;
  }

  img {
    float: right;
    margin-left: 1em;
    width: 50px;
  }
}

.gradient {
  pointer-events: none;
  height: 40px;
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 1%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
