html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: $white;
  color: $black;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: .9em;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

input,
select,
button,
.button {
  background-color: $white;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  outline: none;
  text-decoration: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#main {
  height: calc(100% - 150px);
}

#header {
  padding: 1em;
  height: 150px;
}

#header h1 {
  margin: 0 0 .5em;
}

#header p {
  max-width: 750px;
}

.logo {
  float: right;
  height: 40px;
}

.embed {

  #header {
    display: none;
  }

  #main {
    height: 100%;
  }

  .hideable {
    visibility: hidden;
  }
}
