/* General mediaqueries */
@media (min-width: 1100px) {

  #lineup .player .icon {
    width: 5em;
    height: 5em;
  }
}

@media (max-width: 780px) {

  button span,
  .button span {
    display: none;
  }

  button:before,
  .button:before {
    opacity: 1;
  }

  .thanks {
    display: none;
  }

  #main {
    height: 90%;
  }
}

@media (max-width: 540px) {

  button,
  .button {
    display: none;
  }

  #field {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  #lineup {
    margin: 0;
  }

  .disclaimer {
    display: none;
  }
}
