@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular.eot?v=1.1.0");
  src: url("../font/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../font/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../font/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../font/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../font/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Bold.eot?v=1.1.0");
  src: url("../font/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../font/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../font/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../font/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../font/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url("../font/icons.eot?71462735");
  src: url("../font/icons.eot?71462735#iefix") format("embedded-opentype"), url("../font/icons.woff?71462735") format("woff"), url("../font/icons.ttf?71462735") format("truetype"), url("../font/icons.svg?71462735#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-squared:before {
  content: '\e802';
  color: #3b5998;
}

.icon-twitter-squared:before {
  content: '\e800';
  color: #00aced;
}

.icon-gplus-squared:before {
  content: '\e804';
  color: #d34836;
}

.icon-mail-squared:before {
  content: '\e809';
}

.icon-reply:before {
  content: '\e801';
}

.icon-paper-plane:before {
  content: '\e803';
}

.icon-info:before {
  content: '\e805';
}

.icon-share:before {
  content: '\e807';
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  color: #262626;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 100%;
  margin: 0;
  padding: 0;
}

input,
select,
button,
.button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  outline: none;
  text-decoration: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#main {
  height: calc(100% - 80px);
  overflow: hidden;
}

#header {
  height: 80px;
  padding: 1em;
}
#header h1 {
  font-size: 1.8em;
  margin: 0 0 .5em;
  font-weight: normal;
}
#header em {
  display: block;
  color: #0076c2;
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
}
#header p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 90%;
}
#header a {
  outline: none;
  border: 0;
  color: #262626;
}
#header .logo {
  border: 0;
  outline: none;
  float: right;
  height: 40px;
}

#field {
  width: calc(100% - 220px);
  height: 100%;
  background: #ddd;
  background-image: radial-gradient(ellipse at center, #fff 0%, #ccc 100%);
  display: inline-block;
  padding: 1em 1em 0;
  text-align: center;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
#field nav {
  z-index: 30;
}
#field form {
  display: inline-block;
  padding-bottom: 2em;
}
#field label {
  background: #fff;
  display: inline-block;
  line-height: 30px;
  padding: 0 .7em 0 .5em;
  vertical-align: top;
}
#field select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("../img/arrow.png") no-repeat right 3px center;
  background-size: 20px 13px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 4px 46px 4px 8px;
  text-indent: .01px;
  text-overflow: '';
}
#field select:focus {
  border: 2px solid #0076c2;
}
#field select::-ms-expand {
  display: none;
}

#lineup {
  height: 90%;
  margin-top: 50px;
}
#lineup .position {
  width: 145px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin: 1em 1em 3em;
  position: relative;
}
#lineup .position p {
  pointer-events: none;
  height: 24px;
  margin: 0;
}
#lineup .position .politician {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
}
#lineup .position .icon {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  pointer-events: none;
}
#lineup .position.drop-target .department .icon {
  -webkit-box-shadow: 0 0 0 5px #fff;
          box-shadow: 0 0 0 5px #fff;
}
#lineup .position .selected {
  -webkit-box-shadow: 0 0 0 5px #0076c2;
          box-shadow: 0 0 0 5px #0076c2;
}
#lineup .position.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-4px, 0px) rotate(0deg);
            transform: translate(-4px, 0px) rotate(0deg);
  }
  4% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  6% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  8% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  12% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  14% {
    -webkit-transform: translate(-7px, 0px) rotate(0deg);
            transform: translate(-7px, 0px) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  18% {
    -webkit-transform: translate(7px, 0px) rotate(0deg);
            transform: translate(7px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  22% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  24% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  26% {
    -webkit-transform: translate(3px, 0px) rotate(0deg);
            transform: translate(3px, 0px) rotate(0deg);
  }
  28% {
    -webkit-transform: translate(-5px, 0px) rotate(0deg);
            transform: translate(-5px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  32% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  34% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  36% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  38% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  42% {
    -webkit-transform: translate(8px, 0px) rotate(0deg);
            transform: translate(8px, 0px) rotate(0deg);
  }
  44% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  46% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  48% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  52% {
    -webkit-transform: translate(6px, 0px) rotate(0deg);
            transform: translate(6px, 0px) rotate(0deg);
  }
  54% {
    -webkit-transform: translate(-8px, 0px) rotate(0deg);
            transform: translate(-8px, 0px) rotate(0deg);
  }
  56% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
            transform: translate(5px, 0px) rotate(0deg);
  }
  58% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(7px, 0px) rotate(0deg);
            transform: translate(7px, 0px) rotate(0deg);
  }
  62% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  64% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  66% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  68% {
    -webkit-transform: translate(-7px, 0px) rotate(0deg);
            transform: translate(-7px, 0px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  72% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  74% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
            transform: translate(5px, 0px) rotate(0deg);
  }
  76% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  78% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  82% {
    -webkit-transform: translate(8px, 0px) rotate(0deg);
            transform: translate(8px, 0px) rotate(0deg);
  }
  84% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  86% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  88% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  92% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  94% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  96% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  98% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-4px, 0px) rotate(0deg);
            transform: translate(-4px, 0px) rotate(0deg);
  }
  4% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  6% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  8% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  12% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  14% {
    -webkit-transform: translate(-7px, 0px) rotate(0deg);
            transform: translate(-7px, 0px) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  18% {
    -webkit-transform: translate(7px, 0px) rotate(0deg);
            transform: translate(7px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  22% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  24% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  26% {
    -webkit-transform: translate(3px, 0px) rotate(0deg);
            transform: translate(3px, 0px) rotate(0deg);
  }
  28% {
    -webkit-transform: translate(-5px, 0px) rotate(0deg);
            transform: translate(-5px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  32% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  34% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  36% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  38% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  42% {
    -webkit-transform: translate(8px, 0px) rotate(0deg);
            transform: translate(8px, 0px) rotate(0deg);
  }
  44% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  46% {
    -webkit-transform: translate(-10px, 0px) rotate(0deg);
            transform: translate(-10px, 0px) rotate(0deg);
  }
  48% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  52% {
    -webkit-transform: translate(6px, 0px) rotate(0deg);
            transform: translate(6px, 0px) rotate(0deg);
  }
  54% {
    -webkit-transform: translate(-8px, 0px) rotate(0deg);
            transform: translate(-8px, 0px) rotate(0deg);
  }
  56% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
            transform: translate(5px, 0px) rotate(0deg);
  }
  58% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(7px, 0px) rotate(0deg);
            transform: translate(7px, 0px) rotate(0deg);
  }
  62% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  64% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  66% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  68% {
    -webkit-transform: translate(-7px, 0px) rotate(0deg);
            transform: translate(-7px, 0px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  72% {
    -webkit-transform: translate(-6px, 0px) rotate(0deg);
            transform: translate(-6px, 0px) rotate(0deg);
  }
  74% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
            transform: translate(5px, 0px) rotate(0deg);
  }
  76% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  78% {
    -webkit-transform: translate(9px, 0px) rotate(0deg);
            transform: translate(9px, 0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  82% {
    -webkit-transform: translate(8px, 0px) rotate(0deg);
            transform: translate(8px, 0px) rotate(0deg);
  }
  84% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  86% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
  88% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  92% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  94% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
            transform: translate(4px, 0px) rotate(0deg);
  }
  96% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
            transform: translate(2px, 0px) rotate(0deg);
  }
  98% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
}
#sidebar {
  width: 220px;
  height: 100%;
  display: inline-block;
  float: right;
  position: relative;
  z-index: 40;
}
#sidebar .scrollable {
  height: 100%;
  overflow: auto;
}
#sidebar #filter {
  border: 2px solid #c6c5c0;
}
#sidebar #filter:focus {
  border: 2px solid #0076c2;
}
#sidebar form {
  background: #fff;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 70;
}
#sidebar input {
  border-radius: 0;
  outline: none;
  padding: 4px 8px;
  width: 100%;
}

#list {
  padding-top: 4em;
  z-index: 50;
}
#list ul {
  margin: 0;
  padding: 1em 2em;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#list ul:last-child:after {
  content: "\a";
  white-space: pre;
  line-height: 12em;
}
#list li {
  line-height: 1.8em;
  cursor: pointer;
}
#list li.picked {
  color: #c6c5c0;
}
#list li:hover {
  color: #0076c2;
}
#list .cdu:before {
  content: "CDU";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .csu:before {
  content: "CSU";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .fdp:before {
  content: "FDP";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .gruene:before {
  content: "Grüne";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}
#list .parteilos:before {
  content: "Parteilos";
  font-weight: bold;
  line-height: 2.2em;
  vertical-align: top;
}

#info {
  background-color: #2b2b2b;
  bottom: 0;
  color: #fff;
  height: 130px;
  left: 0;
  padding: 1em 1em 1em 2em;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 60;
  overflow: hidden;
}
#info h3 {
  font-size: 1em;
  margin: 0 0 .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#info p {
  margin: .2em 0 .5em;
}
#info img {
  float: right;
  margin-left: 1em;
  width: 50px;
}

.gradient {
  pointer-events: none;
  height: 40px;
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  width: 100%;
  background: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(75%, white), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.01) 1%, white 75%, white 100%);
}

button,
.button {
  color: #262626;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: .5em;
  line-height: 1;
}

button:hover,
.button:hover {
  color: #fff;
  background: #0076c2;
}

#home {
  float: left;
}

#share {
  float: right;
}

.small {
  font-size: 17px;
  opacity: .7;
  vertical-align: top;
  margin: 0 .1em;
}

#modal {
  background: #fff;
  display: none;
  left: 10%;
  overflow: auto;
  padding: 1em 4em 4em;
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: 500;
}
#modal p {
  margin: .2em 0 1em;
}
#modal h1 {
  margin: 2em 0 .5em;
}

#close {
  position: absolute;
  top: .5em;
  right: 1em;
  color: #262626;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  display: block;
  margin: 2em 0;
}
.icons a {
  color: #262626;
  text-decoration: none;
  margin: 0 1em;
  display: inline-block;
  width: 50px;
}
.icons .big {
  font-size: 50px;
}
.icons .big:hover {
  opacity: .7;
}

.draggable {
  -ms-touch-action: none;
  touch-action: none;
}

.changeable {
  -ms-touch-action: none;
  touch-action: none;
}

.dragging {
  list-style: none;
  position: absolute;
  z-index: 300;
}

.changing {
  z-index: 200;
}

#fallback {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 10000;
  padding: 3em;
  background: #fff;
}

.unsupported body > * {
  display: none;
}
.unsupported #fallback {
  display: block !important;
}
.unsupported #fallback p {
  margin: 0 auto 1em;
  max-width: 600px;
  font-size: 1.2em;
  display: block !important;
}

/* General mediaqueries */
@media (min-width: 1100px) {
  #lineup .player .icon {
    width: 5em;
    height: 5em;
  }
}
@media (max-height: 640px) {
  #lineup .player .icon {
    width: 3em;
    height: 3em;
  }
}
@media (max-width: 560px) {
  #lineup .player .icon {
    width: 3em;
    height: 3em;
  }
}
@media (max-width: 420px) {
  #lineup .player .icon {
    width: 2em;
    height: 2em;
  }
}

/*# sourceMappingURL=main.css.map */